
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:coding-problems.iconistyt.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?coding-problems.iconistyt.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:coding-problems.iconistyt.com
