<IfModule mod_rewrite.c>

# Main ReWrite File Section Here
RewriteEngine on

# This Is An .html Files Hide Section Here
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# This Is An .php Files Hide Section Here
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

</IfModule>

Options -Indexes


# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:admin.iconistyt.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?admin.iconistyt.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:admin.iconistyt.com
